# State file created:  2021/07/17 13:34:54
# CFX-19.0

CALCULATOR:
  Axis = X
  Case Name = Case Onera M6
  Expression = Pressure
  Fluid = All Fluids
  Function = massFlowAve
  Location = inlet
  Verbose = Off
END
CHART:Chart 1
  Chart Axes = Both
  Chart Axes Font = Tahoma, 10, False, False, False, False
  Chart Axes Titles Font = Tahoma, 10, True, False, False, False
  Chart Grid Line Width = 1
  Chart Horizontal Grid = On
  Chart Legend = On
  Chart Legend Font = Tahoma, 8, False, False, False, False
  Chart Legend Inside = Outside Chart
  Chart Legend Justification = Center
  Chart Legend Position = Bottom
  Chart Legend Width Height = 0.2 , 0.4
  Chart Legend X Justification = Right
  Chart Legend XY Position = 0.73 , 0.275
  Chart Legend Y Justification = Center
  Chart Line Width = 2
  Chart Lines Order = Series 1,Chart Line 1
  Chart Minor Grid = Off
  Chart Minor Grid Line Width = 1
  Chart Print Base Height = 700
  Chart Print Base Width = 700
  Chart Symbol Size = 4
  Chart Text Colour = White
  Chart Title = Title
  Chart Title Font = Tahoma, 12, True, False, False, False
  Chart Title Visibility = On
  Chart Type = XY
  Chart Vertical Grid = On
  Chart Viewport Colour = Yellow
  Chart X Axis Automatic Number Formatting = On
  Chart X Axis Label = X Axis <units>
  Chart X Axis Number Format = %10.3e
  Chart Y Axis Automatic Number Formatting = On
  Chart Y Axis Label = Y Axis <units>
  Chart Y Axis Number Format = %10.3e
  Default Chart X Variable = X
  Default Chart Y Variable = Pressure
  Default Difference Line Calculation = From Points
  Default Histogram Y Axis Weighting = None
  Default Time Chart Variable = Pressure
  Default Time Chart X Expression = Time
  Default Time Variable Absolute Value = Off
  Default Time Variable Boundary Values = Conservative
  Default X Variable Absolute Value = Off
  Default X Variable Boundary Values = Conservative
  Default Y Variable Absolute Value = Off
  Default Y Variable Boundary Values = Conservative
  FFT Full Input Range = On
  FFT Max = 0.0
  FFT Min = 0.0
  FFT Subtract Mean = Off
  FFT Window Type = Hanning
  FFT X Function = Frequency
  FFT Y Function = Power Spectral Density
  Histogram Automatic Divisions = Automatic
  Histogram Divisions = -1.0,1.0
  Histogram Divisions Count = 10
  Histogram Y Axis Value = Count
  Is FFT Chart = Off
  Max X = 1.0
  Max Y = 1.0
  Min X = -1.0
  Min Y = -1.0
  Time Chart Keep Single Case = False
  Use Data For X Axis Labels = On
  Use Data For Y Axis Labels = On
  X Axis Automatic Range = On
  X Axis Inverted = Off
  X Axis Logarithmic Scaling = Off
  Y Axis Automatic Range = On
  Y Axis Inverted = On
  Y Axis Logarithmic Scaling = Off
  CHART SERIES:Series 1
    Chart Line Custom Data Selection = Off
    Chart Series Type = Regular
    Chart X Variable = Chart Count
    Chart Y Variable = Density
    Histogram Y Axis Weighting = None
    Location = Polyline 1
    Monitor Data Source = Case
    Monitor Data X Variable Absolute Value = Off
    Monitor Data Y Variable Absolute Value = Off
    Operating Point Data Case = Case Onera M6
    Operating Point Data Source = File
    Series Name = Series 1
    Time Chart Expression = Time
    Time Chart Type = Point
    Time Chart Variable = Density
    Time Chart X Expression = Time
    Time Variable Absolute Value = Off
    Time Variable Boundary Values = Conservative
    X Variable Absolute Value = Off
    X Variable Boundary Values = Conservative
    Y Variable Absolute Value = Off
    Y Variable Boundary Values = Conservative
    CHART LINE:Chart Line 1
      Auto Chart Line Colour = On
      Auto Chart Symbol Colour = On
      Case Name = Case Onera M6
      Category Values = 0
      Chart FFT Line Type = Bars
      Chart Line Colour = 1.0, 0.0, 0.0
      Chart Line Style = Automatic
      Chart Line Type = Lines
      Chart Line Visibility = On
      Chart Symbol Colour = 0.0, 1.0, 0.0
      Chart Symbol Style = Automatic
      Fill Area = On
      Fill Area Options = Automatic
      Is Valid = True
      Line Name = Series 1
      Use Automatic Line Naming = On
    END
  END
  OBJECT REPORT OPTIONS:
    Automatic Item = None
    Generation = Manual
  END
END
CHART:Cp2
  Chart Axes = Both
  Chart Axes Font = Tahoma, 10, False, False, False, False
  Chart Axes Titles Font = Tahoma, 10, True, False, False, False
  Chart Grid Line Width = 1
  Chart Horizontal Grid = On
  Chart Legend = On
  Chart Legend Font = Tahoma, 8, False, False, False, False
  Chart Legend Inside = Outside Chart
  Chart Legend Justification = Center
  Chart Legend Position = Bottom
  Chart Legend Width Height = 0.2 , 0.4
  Chart Legend X Justification = Right
  Chart Legend XY Position = 0.73 , 0.275
  Chart Legend Y Justification = Center
  Chart Line Width = 2
  Chart Lines Order = Series 1,Chart Line 1
  Chart Minor Grid = Off
  Chart Minor Grid Line Width = 1
  Chart Print Base Height = 700
  Chart Print Base Width = 700
  Chart Symbol Size = 4
  Chart Text Colour = White
  Chart Title = Title
  Chart Title Font = Tahoma, 12, True, False, False, False
  Chart Title Visibility = On
  Chart Type = XY
  Chart Vertical Grid = On
  Chart Viewport Colour = Yellow
  Chart X Axis Automatic Number Formatting = On
  Chart X Axis Label = X Axis <units>
  Chart X Axis Number Format = %10.3e
  Chart Y Axis Automatic Number Formatting = On
  Chart Y Axis Label = Y Axis <units>
  Chart Y Axis Number Format = %10.3e
  Default Chart X Variable = x over L2
  Default Chart Y Variable = Pressure Coefficient
  Default Difference Line Calculation = From Points
  Default Histogram Y Axis Weighting = None
  Default Time Chart Variable = Pressure
  Default Time Chart X Expression = Time
  Default Time Variable Absolute Value = Off
  Default Time Variable Boundary Values = Conservative
  Default X Variable Absolute Value = Off
  Default X Variable Boundary Values = Conservative
  Default Y Variable Absolute Value = Off
  Default Y Variable Boundary Values = Conservative
  FFT Full Input Range = On
  FFT Max = 0.0
  FFT Min = 0.0
  FFT Subtract Mean = Off
  FFT Window Type = Hanning
  FFT X Function = Frequency
  FFT Y Function = Power Spectral Density
  Histogram Automatic Divisions = Automatic
  Histogram Divisions = -1.0,1.0
  Histogram Divisions Count = 10
  Histogram Y Axis Value = Count
  Is FFT Chart = Off
  Max X = 1
  Max Y = 1.0
  Min X = 0
  Min Y = -1.0
  Time Chart Keep Single Case = False
  Use Data For X Axis Labels = On
  Use Data For Y Axis Labels = On
  X Axis Automatic Range = Off
  X Axis Inverted = Off
  X Axis Logarithmic Scaling = Off
  Y Axis Automatic Range = On
  Y Axis Inverted = On
  Y Axis Logarithmic Scaling = Off
  CHART SERIES:Series 1
    Chart Line Custom Data Selection = Off
    Chart Series Type = Regular
    Chart X Variable = Chart Count
    Chart Y Variable = Density
    File Data Section Name = DefaultSectionName
    File Data X Variable = Column 1
    File Data Y Variable = Column 2
    Histogram Y Axis Weighting = None
    Location = Polyline 1
    Monitor Data Source = Case
    Monitor Data X Variable Absolute Value = Off
    Monitor Data Y Variable Absolute Value = Off
    Operating Point Data Case = Case Onera M6
    Operating Point Data Source = File
    Series Name = FLUENT
    Time Chart Expression = Time
    Time Chart Type = Point
    Time Chart Variable = Density
    Time Chart X Expression = Time
    Time Variable Absolute Value = Off
    Time Variable Boundary Values = Conservative
    X Variable Absolute Value = Off
    X Variable Boundary Values = Conservative
    Y Variable Absolute Value = Off
    Y Variable Boundary Values = Conservative
    CHART LINE:Chart Line 1
      Auto Chart Line Colour = On
      Auto Chart Symbol Colour = On
      Case Name = Case Onera M6
      Category Values = 0
      Chart FFT Line Type = Bars
      Chart Line Colour = 1.0, 0.0, 0.0
      Chart Line Style = Automatic
      Chart Line Type = Lines
      Chart Line Visibility = On
      Chart Symbol Colour = 0.0, 1.0, 0.0
      Chart Symbol Style = Automatic
      Fill Area = On
      Fill Area Options = Automatic
      Is Valid = True
      Line Name = FLUENT
      Use Automatic Line Naming = On
    END
  END
  OBJECT REPORT OPTIONS:
    Automatic Item = None
    Generation = Manual
  END
END
COMMENT:User Data
  Comment Exists = True
  Comment Heading = User Data
  Comment Text = <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://\
www.w3.org/TR/REC-html40/strict.dtd"><p style="-qt-paragraph-type:empty; margin-\
top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; -qt-block-\
indent:0; text-indent:0px;"><br /></p>
  Heading Level = 1
END
CONTOUR:Contour 1
  Apply Instancing Transform = On
  Clip Contour = Off
  Colour Map = Default Colour Map
  Colour Scale = Linear
  Colour Variable = Pressure
  Colour Variable Boundary Values = Conservative
  Constant Contour Colour = Off
  Contour Range = Local
  Culling Mode = No Culling
  Domain List = /DOMAIN GROUP:All Domains
  Draw Contours = On
  Font = Sans Serif
  Fringe Fill = On
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Lighting = On
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Location List = wing_surface
  Max = 0.0 [psi]
  Min = 0.0 [psi]
  Number of Contours = 101
  Show Numbers = Off
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Text Colour = 0, 0, 0
  Text Colour Mode = Default
  Text Height = 0.024
  Transparency = 0.0
  Use Face Values = Off
  Value List = 0 [Pa],6894.76 [Pa]
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [m], 0 [m], 0 [m]
    Rotation Axis To = 0 [m], 0 [m], 0 [m]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [m], 0 [m], 0 [m]
    X = 0.0 [ft]
    Y = 0.0 [ft]
    Z = 0.0 [ft]
  END
END
CONTOUR:Mach Contours sym
  Apply Instancing Transform = On
  Clip Contour = Off
  Colour Map = Default Colour Map
  Colour Scale = Linear
  Colour Variable = Mach Number
  Colour Variable Boundary Values = Conservative
  Constant Contour Colour = Off
  Contour Range = Global
  Culling Mode = No Culling
  Domain List = /DOMAIN GROUP:All Domains
  Draw Contours = On
  Font = Sans Serif
  Fringe Fill = On
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Lighting = Off
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Location List = Plane 1
  Max = 0.0
  Min = 0.0
  Number of Contours = 25
  Show Numbers = Off
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Text Colour = 0, 0, 0
  Text Colour Mode = Default
  Text Height = 0.024
  Transparency = 0.0
  Use Face Values = Off
  Value List = 0,1
  Visibility = On
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [m], 0 [m], 0 [m]
    Rotation Axis To = 0 [m], 0 [m], 0 [m]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [m], 0 [m], 0 [m]
    X = 0.0 [ft]
    Y = 0.0 [ft]
    Z = 0.0 [ft]
  END
END
CONTOUR:Mach Number contours
  Apply Instancing Transform = On
  Clip Contour = Off
  Colour Map = Default Colour Map
  Colour Scale = Linear
  Colour Variable = Mach Number
  Colour Variable Boundary Values = Conservative
  Constant Contour Colour = Off
  Contour Range = Global
  Culling Mode = No Culling
  Domain List = /DOMAIN GROUP:All Domains
  Draw Contours = On
  Font = Sans Serif
  Fringe Fill = On
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Lighting = Off
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Location List = User Surface 1
  Max = 0.0
  Min = 0.0
  Number of Contours = 75
  Show Numbers = Off
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Text Colour = 0, 0, 0
  Text Colour Mode = Default
  Text Height = 0.024
  Transparency = 0.0
  Use Face Values = Off
  Value List = 0,1
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [m], 0 [m], 0 [m]
    Rotation Axis To = 0 [m], 0 [m], 0 [m]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [m], 0 [m], 0 [m]
    X = 0.0 [ft]
    Y = 0.0 [ft]
    Z = 0.0 [ft]
  END
END
CONTOUR:Pressure coeff contours
  Apply Instancing Transform = On
  Clip Contour = Off
  Colour Map = Default Colour Map
  Colour Scale = Linear
  Colour Variable = Pressure Coefficient
  Colour Variable Boundary Values = Conservative
  Constant Contour Colour = Off
  Contour Range = Global
  Culling Mode = No Culling
  Domain List = /DOMAIN GROUP:All Domains
  Draw Contours = On
  Font = Sans Serif
  Fringe Fill = On
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Lighting = Off
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Location List = wing_surface
  Max = 0.0
  Min = 0.0
  Number of Contours = 101
  Show Numbers = Off
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Text Colour = 0, 0, 0
  Text Colour Mode = Default
  Text Height = 0.024
  Transparency = 0.0
  Use Face Values = Off
  Value List = 0,1
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = On
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0 [degree]
    Rotation Axis From = 0.0, 0.0, 0.0
    Rotation Axis To = 1.0, 0.0, 0.0
    Rotation Axis Type = Principal Axis
    Scale Vector = 1.0, 1.0, 1.0
    Translation Vector = 0.0, 0.0, 0.0
    X = 0.0 [ft]
    Y = 0.0 [ft]
    Z = 0.0 [ft]
  END
END
CONTOUR:Pressure coeff contours sym
  Apply Instancing Transform = On
  Clip Contour = Off
  Colour Map = Default Colour Map
  Colour Scale = Linear
  Colour Variable = Pressure Coefficient
  Colour Variable Boundary Values = Conservative
  Constant Contour Colour = Off
  Contour Range = Global
  Culling Mode = No Culling
  Domain List = /DOMAIN GROUP:All Domains
  Draw Contours = On
  Font = Sans Serif
  Fringe Fill = Off
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Lighting = On
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Location List = near_side
  Max = 0.0
  Min = 0.0
  Number of Contours = 101
  Show Numbers = Off
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Text Colour = 0, 0, 0
  Text Colour Mode = Default
  Text Height = 0.024
  Transparency = 0.0
  Use Face Values = Off
  Value List = 0,1
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis To = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [ft], 0 [ft], 0 [ft]
    X = 0.0 [ft]
    Y = 0.0 [ft]
    Z = 0.0 [ft]
  END
END
DATA READER:
  Active Case Name = Case Onera M6
  Append Results = False
  Apply X Offset = false
  Apply Y Offset = false
  Apply Z Offset = false
  Clear All Objects = False
  Construct Variables From Fourier Coefficients = True
  Current Case List = Case Onera M6
  Current Case Name = D:\Jothesh\misc\Recording\ONERA\Onera_files\dp0\FFF\\
Fluent\FFF-5-00170.dat.gz
  Current Results File = D:\Jothesh\misc\Recording\ONERA\Onera_files\dp0\FFF\\
Fluent\FFF-5-00170.dat.gz
  Current Timestep = -1
  Current Timevalue = 0
  Edit Case Names = false
  File Angle Units = rad
  File Chemical Amount Units = kmol
  File Current Units = A
  File Length Units = m
  File Light Units = cd
  File Mass Units = kg
  File Solid Angle Units = sr
  File Temperature Units = K
  File Time Units = s
  Force File Reload = False
  Keep Camera Position = True
  Load Particle Tracks = true
  Multi Configuration File Load Option = Single Case
  Open in New View = True
  Open to Compare = false
  Reference Acoustic Pressure = 2.0e-5 [Pa]
  Reference Length = 1.0 [m]
  Reference Velocity = 1.0 [m s^-1]
  Timestep Match Criterion = Same Step
  Timestep Sync Mode = By Time Value
  Timevalue Match Criterion = Same Value
  CASE:Case Onera M6
    Construct Variables From Fourier Coefficients = True
    Current Case Name = D:\Jothesh\misc\Recording\ONERA\Onera_files\dp0\FFF\\
Fluent\FFF-5-00170.dat.gz
    Current Results File = D:\Jothesh\misc\Recording\ONERA\Onera_files\dp0\FFF\\
Fluent\FFF-5-00170.dat.gz
    Current Timestep = -1
    Current Timevalue = 0
    File Angle Units = rad
    File Chemical Amount Units = kmol
    File Current Units = A
    File Length Units = m
    File Light Units = cd
    File Mass Units = kg
    File Solid Angle Units = sr
    File Temperature Units = K
    File Time Units = s
    Multi Configuration File Load Option = Single Case
    Workbench ID = 1
    BOUNDARY:far_side
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:inlet
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:near_side
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:outlet
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:wing_surface
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:wing_tip
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    DOMAIN:solid
      Angle Definition Method = Instances in 360
      Apply Reflection = false
      Apply Rotation = true
      Apply Translation = false
      Axis From File = Custom
      Background Mesh Density = 2000
      Background Mesh Generation Method = Quasi Orthogonal
      Blade Aligned Variable Available = false
      Create Additional Turbo Variables = false
      Do Cylindrical Initialization = False
      Domain Type = Normal
      Full Circle = Off
      Hub Curve Mode = From Turbo Region
      Inlet Curve Mode = From Turbo Region
      Inlet Region = inlet
      Instance Definition = From File
      Linear Blade Aligned Variable Available = false
      Number of Components in 360 = 1
      Number of Copies = 1
      Number of Data Instances = 1
      Number of Passages in 360 = 1
      Number of Passages in Component = 1
      Outlet Curve Mode = From Turbo Region
      Outlet Region = outlet
      Principal Axis = Z
      Reflection Plane Option = From Plane
      Rotation Angle = 0 [degree]
      Rotation Axis From = 0.0, 0.0, 0.0
      Rotation Axis To = 1.0, 0.0, 0.0
      Rotation Axis Type = Principal Axis
      Shroud Curve Mode = From Turbo Region
      TBR User Theta Correction = 0.0
      Translation Vector = 0.0, 0.0, 0.0
      Turbo 360 Case without Periodics = false
      X = 0.0
      Y = 0.0
      Z = 0.0
    END
  END
END
DEFAULT INSTANCE TRANSFORM:Default Transform
  Angle Definition Method = Instances in 360
  Apply Reflection = false
  Apply Rotation = true
  Apply Translation = false
  Full Circle = Off
  Instancing Info From Domain = true
  Number of Components in 360 = 12
  Number of Copies = 1
  Number of Passages in 360 = 12
  Number of Passages in Component = 1
  Principal Axis = Z
  Reflection Plane Option = From Plane
  Rotation Angle = 0 [degree]
  Rotation Axis From = 0.0, 0.0, 0.0
  Rotation Axis To = 1.0, 0.0, 0.0
  Rotation Axis Type = Principal Axis
  Translation Vector = 0.0, 0.0, 0.0
  X = 0.0
  Y = 0.0
  Z = 0.0
END
DEFAULT LEGEND:Default Legend View 1
  Colour = 0, 0, 0
  Font = Sans Serif
  Legend Aspect = 0.07
  Legend Format = %10.3e
  Legend Orientation = Vertical
  Legend Plot = /CONTOUR:Mach Contours sym
  Legend Position = 0.02, 0.15
  Legend Resolution = 256
  Legend Shading = Smooth
  Legend Size = 0.6
  Legend Ticks = 5
  Legend Title = Legend
  Legend Title Mode = Variable and Location
  Legend X Justification = Left
  Legend Y Justification = Top
  Related Object = View 1
  Show Legend Units = On
  Text Colour Mode = Default
  Text Height = 0.024
  Text Rotation = 0
  Visibility = On
END
DEFAULT LEGEND:Default Legend View 2
  Colour = 0, 0, 0
  Font = Sans Serif
  Legend Aspect = 0.07
  Legend Format = %10.3e
  Legend Orientation = Vertical
  Legend Plot = /CONTOUR:Mach Contours sym
  Legend Position = 0.02, 0.15
  Legend Resolution = 256
  Legend Shading = Smooth
  Legend Size = 0.6
  Legend Ticks = 5
  Legend Title = Legend
  Legend Title Mode = Variable and Location
  Legend X Justification = Left
  Legend Y Justification = Top
  Related Object = View 2
  Show Legend Units = On
  Text Colour Mode = Default
  Text Height = 0.024
  Text Rotation = 0
  Visibility = true
END
DEFAULT LEGEND:Default Legend View 3
  Colour = 0, 0, 0
  Font = Sans Serif
  Legend Aspect = 0.07
  Legend Format = %10.3e
  Legend Orientation = Vertical
  Legend Plot = /CONTOUR:Mach Contours sym
  Legend Position = 0.02, 0.15
  Legend Resolution = 256
  Legend Shading = Smooth
  Legend Size = 0.6
  Legend Ticks = 5
  Legend Title = Legend
  Legend Title Mode = Variable and Location
  Legend X Justification = Left
  Legend Y Justification = Top
  Related Object = View 3
  Show Legend Units = On
  Text Colour Mode = Default
  Text Height = 0.024
  Text Rotation = 0
  Visibility = true
END
DEFAULT LEGEND:Default Legend View 4
  Colour = 0, 0, 0
  Font = Sans Serif
  Legend Aspect = 0.07
  Legend Format = %10.3e
  Legend Orientation = Vertical
  Legend Plot = /CONTOUR:Mach Contours sym
  Legend Position = 0.02, 0.15
  Legend Resolution = 256
  Legend Shading = Smooth
  Legend Size = 0.6
  Legend Ticks = 5
  Legend Title = Legend
  Legend Title Mode = Variable and Location
  Legend X Justification = Left
  Legend Y Justification = Top
  Related Object = View 4
  Show Legend Units = On
  Text Colour Mode = Default
  Text Height = 0.024
  Text Rotation = 0
  Visibility = true
END
DEFORMATION INFO:
  Deformation Scale = 1
END
EXPORT:
  ANSYS Export Data = Element Heat Flux
  ANSYS File Format = ANSYS
  ANSYS Fluid Selection = All Fluids
  ANSYS Specify Reference Temperature = false
  BC Profile Type = Inlet Velocity
  Case Summary Format = XML
  Case Summary Type = ANSYS FSI
  Export Chart Name = Cp2
  Export Connectivity = false
  Export Coord Frame = Global
  Export File = D:/David/ftp/ONERA/FLUENT/M6WORKBENCH_files/user_files/\
fluent99.csv
  Export Geometry = true
  Export Node Numbers = false
  Export Null Data = True
  Export Type = Generic
  Export Units System = Current
  Export Variable Type = Current
  External Export Data = None
  Heat Flow Sign Flipping = Automatic
  Include File Information = false
  Include Header = true
  Null Token = null
  Overwrite = On
  Precision = 8
  Separator = ", "
  Spatial Variables = X,Y,Z
  Split Cut Lines = true
  Vector Brackets = ()
  Vector Display = Scalar
END
FILE PROCESSING:
  Path Stack = .
  Processing Mode = None
  Supress File Replacement Warnings = false
END
HARDCOPY:
  Antialiasing = On
  Hardcopy Filename = D:/David/ftp/ONERA/FLUENT/M6WORKBENCH_files/user_files/\
pressure distribution.png
  Hardcopy Format = png
  Hardcopy Tolerance = 0.0001
  Image Height = 600
  Image Scale = 100
  Image Width = 600
  JPEG Image Quality = 80
  Paper Orientation = Landscape
  Paper Size = Letter
  Print Line Width = 1
  Print Quality = High
  Screen Capture = Off
  Use Screen Size = On
  White Background = On
END
LIBRARY:
  CEL:
    EXPRESSIONS:
      Accumulated Time Step = -1
      Current Time Step = -1
      Reference Pressure = 315980 [Pa]
      Sequence Step = -1
      Time = 0 [s]
      atstep = Accumulated Time Step
      ctstep = Current Time Step
      sstep = Sequence Step
      t = Time
      x over l2 = (X-minVal(X)@ chord 2)/(maxVal(X)@ chord 2 - minVal(X)@chord \
2)
    END
  END
END
LINE:chord 2
  Apply Instancing Transform = On
  Colour = 1, 1, 0
  Colour Map = Default Colour Map
  Colour Mode = Constant
  Colour Scale = Linear
  Colour Variable = Pressure
  Colour Variable Boundary Values = Conservative
  Domain List = /DOMAIN GROUP:All Domains
  Draw Lines = Off
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Line Samples = 10
  Line Type = Sample
  Line Width = 2
  Max = 0.0 [psi]
  Min = 0.0 [psi]
  Option = Two Points
  Point 1 = 0.5716 [ft], 0 [ft], -0.99 [ft]
  Point 2 = 0.9532 [ft], 0 [ft], -0.99 [ft]
  Range = Global
  Visibility = On
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis To = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [ft], 0 [ft], 0 [ft]
    X = 0.0 [ft]
    Y = 0.0 [ft]
    Z = 0.0 [ft]
  END
END
MASS FLOW CALC OPTION ON PHYSICAL SURFACES:
  Option = Interpolated
END
PLANE:Plane 1
  Apply Instancing Transform = On
  Apply Texture = Off
  Blend Texture = On
  Bound Radius = 0.5 [m]
  Colour = 0.75, 0.75, 0.75
  Colour Map = Default Colour Map
  Colour Mode = Constant
  Colour Scale = Linear
  Colour Variable = Mach Number
  Colour Variable Boundary Values = Conservative
  Culling Mode = No Culling
  Direction 1 Bound = 5 [foot]
  Direction 1 Orientation = 0 [degree]
  Direction 1 Points = 10
  Direction 2 Bound = 5 [foot]
  Direction 2 Points = 10
  Domain List = /DOMAIN GROUP:All Domains
  Draw Faces = On
  Draw Lines = Off
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Invert Plane Bound = Off
  Lighting = On
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Max = 0.0
  Min = 0.0
  Normal = 1 , 0 , 0
  Option = XY Plane
  Plane Bound = Rectangular
  Plane Type = Slice
  Point = 0 [m], 0 [m], 0 [m]
  Point 1 = 0 [m], 0 [m], 0 [m]
  Point 2 = 1 [m], 0 [m], 0 [m]
  Point 3 = 0 [m], 1 [m], 0 [m]
  Range = Global
  Render Edge Angle = 0 [degree]
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Texture Angle = 0
  Texture Direction = 0 , 1 , 0
  Texture Material = Metal
  Texture Position = 0 , 0
  Texture Scale = 1
  Texture Type = Predefined
  Tile Texture = Off
  Transform Texture = Off
  Transparency = 0.0
  Visibility = Off
  X = 0.0 [m]
  Y = 0.0 [m]
  Z = -0.1 [foot]
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [degree]
    Rotation Axis From = 0 [m], 0 [m], 0 [m]
    Rotation Axis To = 0 [m], 0 [m], 0 [m]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [m], 0 [m], 0 [m]
    X = 0.0 [m]
    Y = 0.0 [m]
    Z = 0.0 [m]
  END
END
PLANE:Plane 2
  Apply Instancing Transform = On
  Apply Texture = Off
  Blend Texture = On
  Bound Radius = 0.5 [m]
  Colour = 0.75, 0.75, 0.75
  Colour Map = Default Colour Map
  Colour Mode = Variable
  Colour Scale = Linear
  Colour Variable = Pressure
  Colour Variable Boundary Values = Conservative
  Culling Mode = No Culling
  Direction 1 Bound = 0.7 [m]
  Direction 1 Orientation = 0 [degree]
  Direction 1 Points = 10
  Direction 2 Bound = 0.3 [m]
  Direction 2 Points = 10
  Domain List = /DOMAIN GROUP:All Domains
  Draw Faces = On
  Draw Lines = Off
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Invert Plane Bound = Off
  Lighting = On
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Max = 0.0 [psi]
  Min = 0.0 [psi]
  Normal = 1 , 0 , 0
  Option = XY Plane
  Plane Bound = None
  Plane Type = Slice
  Point = 0 [m], 0 [m], 0 [m]
  Point 1 = 0 [m], 0 [m], 0 [m]
  Point 2 = 0.3048 [m], 0 [m], 0 [m]
  Point 3 = 0 [m], 0.3048 [m], 0 [m]
  Range = Local
  Render Edge Angle = 0 [degree]
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Texture Angle = 0
  Texture Direction = 0 , 1 , 0
  Texture Material = Metal
  Texture Position = 0 , 0
  Texture Scale = 1
  Texture Type = Predefined
  Tile Texture = Off
  Transform Texture = Off
  Transparency = 0.0
  Visibility = Off
  X = 0.0 [ft]
  Y = 0.0 [ft]
  Z = -0.99 [ft]
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [m], 0 [m], 0 [m]
    Rotation Axis To = 0 [m], 0 [m], 0 [m]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [m], 0 [m], 0 [m]
    X = 0.0 [ft]
    Y = 0.0 [ft]
    Z = 0.0 [ft]
  END
END
PLANE:pressure variation
  Apply Instancing Transform = On
  Apply Texture = Off
  Blend Texture = On
  Bound Radius = 0.5 [m]
  Colour = 0.75, 0.75, 0.75
  Colour Map = Default Colour Map
  Colour Mode = Variable
  Colour Scale = Linear
  Colour Variable = Velocity
  Colour Variable Boundary Values = Conservative
  Culling Mode = No Culling
  Direction 1 Bound = 1.0 [m]
  Direction 1 Orientation = 0 [degree]
  Direction 1 Points = 10
  Direction 2 Bound = 1.0 [m]
  Direction 2 Points = 10
  Domain List = /DOMAIN GROUP:All Domains
  Draw Faces = On
  Draw Lines = Off
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Invert Plane Bound = Off
  Lighting = On
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Max = 0.0 [ft s^-1]
  Min = 0.0 [ft s^-1]
  Normal = 1 , 0 , 0
  Option = XY Plane
  Plane Bound = None
  Plane Type = Slice
  Point = 0 [ft], 0 [ft], 0 [ft]
  Point 1 = 0 [ft], 0 [ft], 0 [ft]
  Point 2 = 1 [ft], 0 [ft], 0 [ft]
  Point 3 = 0 [ft], 1 [ft], 0 [ft]
  Range = Global
  Render Edge Angle = 0 [degree]
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Texture Angle = 0
  Texture Direction = 0 , 1 , 0
  Texture Material = Metal
  Texture Position = 0 , 0
  Texture Scale = 1
  Texture Type = Predefined
  Tile Texture = Off
  Transform Texture = Off
  Transparency = 0.0
  Visibility = Off
  X = 0.0 [ft]
  Y = 0.0 [ft]
  Z = -0.65 [ft]
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis To = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [ft], 0 [ft], 0 [ft]
    X = 0.0 [ft]
    Y = 0.0 [ft]
    Z = 0.0 [ft]
  END
END
PLANE:trailing edge plane
  Apply Instancing Transform = On
  Apply Texture = Off
  Blend Texture = On
  Bound Radius = 0.5 [m]
  Colour = 0.75, 0.75, 0.75
  Colour Map = Default Colour Map
  Colour Mode = Constant
  Colour Scale = Linear
  Colour Variable = Pressure
  Colour Variable Boundary Values = Conservative
  Culling Mode = No Culling
  Direction 1 Bound = 3 [foot]
  Direction 1 Orientation = 0 [degree]
  Direction 1 Points = 10
  Direction 2 Bound = 1 [foot]
  Direction 2 Points = 10
  Domain List = /DOMAIN GROUP:All Domains
  Draw Faces = On
  Draw Lines = Off
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Invert Plane Bound = Off
  Lighting = On
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Max = 0.0
  Min = 0.0
  Normal = 1 , 0 , 0.2723
  Option = Point and Normal
  Plane Bound = Rectangular
  Plane Type = Sample
  Point = 0.7 [ft], 0 [ft], 0 [ft]
  Point 1 = 0 [ft], 0 [ft], 0 [ft]
  Point 2 = 1 [ft], 0 [ft], 0 [ft]
  Point 3 = 0 [ft], 1 [ft], 0 [ft]
  Range = Global
  Render Edge Angle = 0 [degree]
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Texture Angle = 0
  Texture Direction = 0 , 1 , 0
  Texture Material = Metal
  Texture Position = 0 , 0
  Texture Scale = 1
  Texture Type = Predefined
  Tile Texture = Off
  Transform Texture = Off
  Transparency = 0.0
  Visibility = Off
  X = 0.0 [ft]
  Y = 0.0 [ft]
  Z = 0.0 [ft]
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis To = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [ft], 0 [ft], 0 [ft]
    X = 0.0 [ft]
    Y = 0.0 [ft]
    Z = 0.0 [ft]
  END
END
POLYLINE:Polyline 1
  Apply Instancing Transform = On
  Boundary List = wing_surface
  Colour = 0, 1, 0
  Colour Map = Default Colour Map
  Colour Mode = Constant
  Colour Scale = Linear
  Colour Variable = Pressure
  Colour Variable Boundary Values = Conservative
  Contour Level = 1
  Domain List = /DOMAIN GROUP:All Domains
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Line Width = 2
  Location = Plane 2
  Max = 0.0
  Min = 0.0
  Option = Boundary Intersection
  Range = Global
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis To = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [ft], 0 [ft], 0 [ft]
    X = 0.0 [ft]
    Y = 0.0 [ft]
    Z = 0.0 [ft]
  END
END
REPORT:
  Report Items = /TITLE PAGE,/REPORT/FILE INFORMATION OPTIONS,/REPORT/MESH \
STATISTICS OPTIONS,/REPORT/PHYSICS SUMMARY OPTIONS,/REPORT/SOLUTION SUMMARY \
OPTIONS,/COMMENT:User Data,/CHART:Cp2,/CHART:Chart 1
  FILE INFORMATION OPTIONS:
    Include In Report = true
    This Exists = true
  END
  MESH STATISTICS OPTIONS:
    Include In Report = true
    Show Connectivity Number = false
    Show Edge Length Ratio = false
    Show Element Volume Ratio = false
    Show Max Face Angle = false
    Show Min Face Angle = false
    Show Number of Elements = true
    Show Number of Hexahedra = false
    Show Number of Nodes = true
    Show Number of Polyhedra = false
    Show Number of Pyramids = false
    Show Number of Tetrahedra = false
    Show Number of Wedges = false
    This Exists = true
  END
  PHYSICS SUMMARY OPTIONS:
    Include In Report = true
    Show Boundary Physics = true
    Show Domain Physics = true
    This Exists = true
  END
  PREVIEW:
    This Exists = true
    OUTPUT SETTINGS:
      Chart Image Type = png
      Chart Size = Same As Figure
      Custom Chart Size Height = 384
      Custom Chart Size Width = 512
      Custom Figure Size Height = 384
      Custom Figure Size Width = 512
      Figure Image Type = png
      Figure Size = 512 x 384
      Fit Views = false
      This Exists = true
    END
  END
  PUBLISH:
    Default Report Name = Report
    Generate 3D Viewer Files = false
    Report Format = HTML
    Report Path = ./Report.htm
    Save Images In Separate Folder = true
    This Exists = true
    OUTPUT SETTINGS:
      Chart Image Type = png
      Chart Size = Same As Figure
      Custom Chart Size Height = 384
      Custom Chart Size Width = 512
      Custom Figure Size Height = 384
      Custom Figure Size Width = 512
      Figure Image Type = png
      Figure Size = 512 x 384
      Fit Views = false
      This Exists = true
    END
  END
  SOLUTION SUMMARY OPTIONS:
    Include In Report = false
    Show Boundary Flow Summary = true
    Show Force and Torque Summary = false
    Show Forces = true
    Show Torques = true
    This Exists = true
  END
END
SCALAR VARIABLE:Absolute Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Approximated Mass Flow
  Boundary Values = Conservative
END
SCALAR VARIABLE:Area
  Boundary Values = Conservative
END
SCALAR VARIABLE:Boundary Normal on Polyline 1 X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Boundary Normal on Polyline 1 Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Boundary Normal on Polyline 1 Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Connectivity Number
  Boundary Values = Conservative
END
SCALAR VARIABLE:Curve Length on Polyline 1
  Boundary Values = Conservative
END
SCALAR VARIABLE:Density
  Boundary Values = Conservative
END
SCALAR VARIABLE:Dynamic Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Eddy Viscosity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Edge Length Ratio
  Boundary Values = Conservative
END
SCALAR VARIABLE:Element Volume Inverse
  Boundary Values = Conservative
END
SCALAR VARIABLE:Element Volume Ratio
  Boundary Values = Conservative
END
SCALAR VARIABLE:Force X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Force Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Force Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Heat Flux
  Boundary Values = Conservative
END
SCALAR VARIABLE:Inner Wall Temperature
  Boundary Values = Conservative
END
SCALAR VARIABLE:Interpolated Mass Flow
  Boundary Values = Conservative
END
SCALAR VARIABLE:Length
  Boundary Values = Conservative
END
SCALAR VARIABLE:Mach Number
  Boundary Values = Conservative
END
SCALAR VARIABLE:Mass Flow
  Boundary Values = Conservative
END
SCALAR VARIABLE:Maximum Face Angle
  Boundary Values = Conservative
END
SCALAR VARIABLE:Minimum Face Angle
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normal X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normal Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normal Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normalized Force on Polyline 1 X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normalized Force on Polyline 1 Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normalized Force on Polyline 1 Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Pressure Coefficient
  Boundary Values = Conservative
END
SCALAR VARIABLE:Relative Total Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Temperature
  Boundary Values = Conservative
END
SCALAR VARIABLE:Total Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity Axial
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity Circumferential
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity Radial
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity u
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity u.Gradient X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity u.Gradient Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity u.Gradient Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity v
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity v.Gradient X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity v.Gradient Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity v.Gradient Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity w
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity w.Gradient X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity w.Gradient Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity w.Gradient Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Absolute Helicity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Curl X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Curl Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Curl Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Divergence
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Helicity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Invariant Q
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Lambda 2
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Normal Eigen Helicity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Real Eigen Helicity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Real Eigenvalue
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Stretched Swirling Strength
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Discriminant
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Normal X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Normal Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Normal Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Strength
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Vector X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Vector Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Vector Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Volume
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Adjacent Temperature
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Heat Flux
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Heat Transfer Coefficient
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Radiative Heat Flux
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Shear X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Shear Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Shear Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Z
  Boundary Values = Conservative
END
SYMBOL CONTROL:
  Symbol Size = 1
END
SYSTEM COLOUR MAP:Blue to White
  Colour Map Colours = 0, 0, 0, 1, 1, 1, 1, 1, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:FLUENT Rainbow
  Colour Map Colours = 0, 0, 0, 1, 1, 0.278, 0, 1, 1, 1, 0.389, 0, 1, 0.5, 1, \
0.444, 0, 1, 0, 1, 0.667, 1, 1, 0, 1, 1, 1, 0, 0, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Greyscale
  Colour Map Colours = 0, 0.01, 0.01, 0.01, 1, 1, 0.99, 0.99, 0.99, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Inverse Greyscale
  Colour Map Colours = 0, 0.99, 0.99, 0.99, 1, 1, 0.01, 0.01, 0.01, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Inverse Rainbow
  Colour Map Colours = 0, 1, 0, 0, 1, 0.10, 1, 0.5, 0, 1, 0.25, 1, 1, 0, 1, \
0.43, 0.5, 1, 0, 1, 0.50, 0, 1, 0, 1, 0.56, 0, 1, 0.5, 1, 0.75, 0, 1, 1, 1, 0.90,\
 0, 0.5, 1, 1, 1, 0, 0, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Inverse Rainbow 6
  Colour Map Colours = 0, 1, 0, 1, 1, 0.1, 1, 0, 0.5, 1, 0.2, 1, 0, 0, 1, 0.28,\
 1, 0.5, 0, 1, 0.4, 1, 1, 0, 1, 0.55, 0.5, 1, 0, 1, 0.6, 0, 1, 0, 1, 0.65, 0, 1, \
0.5, 1, 0.8, 0, 1, 1, 1, 0.92, 0, 0.5, 1, 1, 1, 0, 0, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Minimal Map
  Colour Map Colours = 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Rainbow
  Colour Map Colours = 0, 0, 0, 1, 1, 0.10, 0, 0.5, 1, 1, 0.25, 0, 1, 1, 1, \
0.44, 0, 1, 0.5, 1, 0.50, 0, 1, 0, 1, 0.57, 0.5, 1, 0, 1, 0.75, 1, 1, 0, 1, 0.90,\
 1, 0.5, 0, 1, 1, 1, 0, 0, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Rainbow 6
  Colour Map Colours = 0, 0, 0, 1, 1, 0.08, 0, 0.5, 1, 1, 0.2, 0, 1, 1, 1, \
0.35, 0, 1, 0.5, 1, 0.4, 0, 1, 0, 1, 0.45, 0.5, 1, 0, 1, 0.6, 1, 1, 0, 1, 0.72, \
1, 0.5, 0, 1, 0.8, 1, 0, 0, 1, 0.9, 1, 0, 0.5, 1, 1, 1, 0, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Transparency
  Colour Map Colours = 0, 1, 1, 1, 0, 1, 1, 1, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:White to Blue
  Colour Map Colours = 0, 1, 1, 1, 1, 1, 0, 0, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Zebra
  Colour Map Colours = 0, 1, 1, 1, 1, 1.0, 0, 0, 0, 1
  Colour Map Divisions = 5
  Colour Map Storage Type = System
  Colour Map Type = Zebra
END
TITLE PAGE:
  Include ANSYS Logo = true
  Include Custom Logo = false
  Include Date = true
  Include TOC = true
  Show Captions in TOC = true
  Title Page Exists = true
END
UNIT SYSTEM:
  Preferred Units System = SI
  Update Units to Preferred = Off
END
USER SCALAR VARIABLE:x over L2
  Boundary Values = Conservative
  Calculate Global Range = Off
  Component Index = 1
  Expression = x over l2
  Recipe = Expression
  Variable to Copy = Pressure
  Variable to Gradient = Pressure
END
USER SURFACE:User Surface 1
  ANSYS Diagnostics File = CFX2ANSYSDiagnostics.xml
  ANSYS Volumetric Temperature Transfer = false
  Apply Instancing Transform = On
  Apply Rotation = On
  Apply Scale = On
  Apply Texture = Off
  Apply Translation = Off
  Associated Boundary = far_side
  Associated Boundary Specified = On
  Blend Texture = On
  Colour = 0.75, 0.75, 0.75
  Colour Map = Default Colour Map
  Colour Mode = Constant
  Colour Scale = Linear
  Colour Variable = Pressure
  Colour Variable Boundary Values = Conservative
  Contour Level = 1
  Culling Mode = No Culling
  Domain List = /DOMAIN GROUP:All Domains
  Draw Faces = On
  Draw Lines = Off
  File Units = m
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Lighting = On
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Maintain Conservative Values = Off
  Max = 0.0
  Min = 0.0
  Offset Direction = 1 , 0 , 0
  Offset Distance = -0.05 [mm]
  Offset Mode = Uniform
  Offset Type = Normal
  Offset Variable = Density
  Option = Offset From Surface
  Principal Axis = Z
  Range = Global
  Render Edge Angle = 0 [degree]
  Rotation Angle = 0 [degree]
  Rotation Axis From = 0 [m], 0 [m], 0 [m]
  Rotation Axis To = 1 [m], 0 [m], 0 [m]
  Rotation Axis Type = Principal Axis
  Scale Factor = 1.0
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Surface Name = wing_surface
  Texture Angle = 0
  Texture Direction = 0 , 1 , 0
  Texture Material = Metal
  Texture Position = 0 , 0
  Texture Scale = 1
  Texture Type = Predefined
  Tile Texture = Off
  Transform Texture = Off
  Translation Vector = 0 [m], 0 [m], 0 [m]
  Transparency = 0.0
  Use Mid Side Nodes = On
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = On
    Apply Scale = On
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0 [degree]
    Rotation Axis From = 0 [m], 0 [m], 0 [m]
    Rotation Axis To = 1 [m], 0 [m], 0 [m]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [m], 0 [m], 0 [m]
    X = 0.0 [m]
    Y = 0.0 [m]
    Z = 0.0 [m]
  END
END
VECTOR VARIABLE:Boundary Normal on Polyline 1
  Boundary Values = Conservative
END
VECTOR VARIABLE:Force
  Boundary Values = Conservative
END
VECTOR VARIABLE:Normal
  Boundary Values = Conservative
END
VECTOR VARIABLE:Normalized Force on Polyline 1
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity u.Gradient
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity v.Gradient
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity w.Gradient
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity.Curl
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity.Swirling Normal
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity.Swirling Vector
  Boundary Values = Conservative
END
VECTOR VARIABLE:Wall Shear
  Boundary Values = Conservative
END
VECTOR:trailing edge velocity vectors
  Add Sample Vertex Normals = On
  Apply Instancing Transform = On
  Colour = 0.75, 0.75, 0.75
  Colour Map = Default Colour Map
  Colour Mode = Use Plot Variable
  Colour Scale = Linear
  Colour Variable = Velocity
  Colour Variable Boundary Values = Conservative
  Coord Frame = Global
  Culling Mode = No Culling
  Direction = X
  Domain List = /DOMAIN GROUP:All Domains
  Draw Faces = On
  Draw Lines = Off
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Lighting = On
  Line Width = 1
  Location List = trailing edge plane
  Locator Sampling Method = Equally Spaced
  Max = 0.0 [ft s^-1]
  Maximum Number of Items = 100
  Min = 0.0 [ft s^-1]
  Normalized = Off
  Number of Samples = 1000
  Projection Type = None
  Random Seed = 1
  Range = Global
  Reduction Factor = 1.0
  Reduction or Max Number = Reduction
  Sample Spacing = 0.1
  Sampling Accuracy = High
  Sampling Aspect Ratio = 1
  Sampling Grid Angle = 0 [degree]
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Surface Sampling = Off
  Symbol = Line Arrow
  Symbol Size = 0.5
  Transparency = 0.0
  Variable = Velocity
  Variable Boundary Values = Conservative
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis To = 0 [ft], 0 [ft], 0 [ft]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [ft], 0 [ft], 0 [ft]
    X = 0.0 [ft]
    Y = 0.0 [ft]
    Z = 0.0 [ft]
  END
END
VIEW:View 1
  Angular Coord Shift = 0.0
  Auto Center = false
  Axis Visibility = On
  Border Visibility = false
  Camera Mode = User Specified
  Clip Scene = false
  Coord Transform = Cartesian
  Hide Difference Case = false
  Highlight Type = Surface Mesh
  Is A Figure = false
  Light Angle = 50, 110
  Object Visibility List = /CONTOUR:Mach Contours sym,/DEFAULT LEGEND:Default \
Legend View 1,/LINE:chord 2,/WIREFRAME:Wireframe
  Projection = Orthographic
  Ruler Visibility = On
  Standard View = Isometric Y
  CAMERA:
    Option = Pivot Point and Quaternion
    Pan = 0,0
    Pivot Point = 0.116742,0.0913365,-0.0304897
    Rotation = -90, 0, 0
    Rotation Quaternion = 0,0,0,1
    Scale = 4.045
    Send To Viewer = True
  END
END
VIEW:View 2
  Angular Coord Shift = 0.0
  Auto Center = false
  Axis Visibility = On
  Border Visibility = false
  Camera Mode = User Specified
  Clip Scene = false
  Coord Transform = Cartesian
  Hide Difference Case = false
  Highlight Type = Surface Mesh
  Is A Figure = false
  Light Angle = 50, 110
  Object Visibility List = /DEFAULT LEGEND:Default Legend View 2,/\
WIREFRAME:Wireframe
  Projection = Orthographic
  Ruler Visibility = On
  Standard View = Isometric Y
  CAMERA:
    Option = Pivot Point and Quaternion
    Pan = 0,0
    Pivot Point = 0,0,0
    Rotation = -90, 0, 0
    Rotation Quaternion = 0.279848,-0.364705,-0.115917,0.880476
    Scale = 1
    Send To Viewer = True
  END
END
VIEW:View 3
  Angular Coord Shift = 0.0
  Auto Center = false
  Axis Visibility = On
  Border Visibility = false
  Camera Mode = User Specified
  Clip Scene = false
  Coord Transform = Cartesian
  Hide Difference Case = false
  Highlight Type = Surface Mesh
  Is A Figure = false
  Light Angle = 50, 110
  Object Visibility List = /DEFAULT LEGEND:Default Legend View 3,/\
WIREFRAME:Wireframe
  Projection = Orthographic
  Ruler Visibility = On
  Standard View = Isometric Y
  CAMERA:
    Option = Pivot Point and Quaternion
    Pan = 0,0
    Pivot Point = 0,0,0
    Rotation = -90, 0, 0
    Rotation Quaternion = 0.279848,-0.364705,-0.115917,0.880476
    Scale = 1
    Send To Viewer = True
  END
END
VIEW:View 4
  Angular Coord Shift = 0.0
  Auto Center = false
  Axis Visibility = On
  Border Visibility = false
  Camera Mode = User Specified
  Clip Scene = false
  Coord Transform = Cartesian
  Hide Difference Case = false
  Highlight Type = Surface Mesh
  Is A Figure = false
  Light Angle = 50, 110
  Object Visibility List = /DEFAULT LEGEND:Default Legend View 4,/\
WIREFRAME:Wireframe
  Projection = Orthographic
  Ruler Visibility = On
  Standard View = Isometric Y
  CAMERA:
    Option = Pivot Point and Quaternion
    Pan = 0,0
    Pivot Point = 0,0,0
    Rotation = -90, 0, 0
    Rotation Quaternion = 0.279848,-0.364705,-0.115917,0.880476
    Scale = 1
    Send To Viewer = True
  END
END
VIEWPORT MANAGER:
  Background Colour = 0.419608, 0.54902, 0.870588
  Background Colour 2 = 1,1,1
  Background Colour Type = Top-Bottom Gradient
  Background Image = Mountains
  Background Image Mapping = Flat
  Background Image Type = Predefined
  Background Type = Colour
  Global Edge Colour = 0,0,0
  Global Text Colour = 0,0,0
  Maximized Viewport = -1
  Synchronize Camera = false
  Synchronize Visibility = true
  View Length Units = m
  Viewport 1 View = View 1
  Viewport 2 View = View 2
  Viewport 3 View = View 3
  Viewport 4 View = View 4
  Viewport Layout = No Split
  X Split = 0.5
  Y Split = 0.5
END
WIREFRAME:Wireframe
  Apply Instancing Transform = On
  Colour = 0, 0, 0
  Domain List = All Domains
  Edge Angle = 30 [degree]
  Instancing Transform = Default Transform
  Line Colour Mode = Default
  Line Width = 1
  Show Surface Mesh = Off
  Visibility = On
END
